h1, footer { text-align:center; }
 .myProfile { backbackground-color:#cccccc;}
 .hobbies { background-color:#cccccc; padding:5px 10px; }
 footer { background-color:#888888; padding:5px; }
 .myProfile { background-color:#cccccc; padding:5px; }
