body {margin:5px; background-color:#7e7e7e; padding-left:15px;}
		input {padding:5px; border-radius:5px;}
		textarea {border-radius:5px; background-color:#4472}
		h1 {text-align:center; color:#f9f9f9}